*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(1fr, 6);
  grid-template-areas: 
}

.left-sidebar {
  grid-area: sidebar;
}

.nav {
  grid-area: navbar;
}

.header {
  grid-area: header;
}

.content {
  grid-area: mid;
}

.lower-content {
  grid-area: lowmid;
}